---
layout: home
title: Home
url: /
pageOrder: 1
---

section.container.w
	.row
		.col-md-6
			h2 What is Pact?
			p It's a cross platform HTTP based consumer driven contract testing library, that allows you to decompose the testing of collaborating components into a consumer side and a provider side.
			h3 What is a Consumer?
			p A consumer is a component which drives and depends on the functionality of the provider.
			h3 What is a Provider?
			p A provider is a component which offers some functionality for consumers to utilise.
		.col-md-6
			img(src="/img/what-is-pact.gif" class="img-responsive" alt="What is Pact?")