---
layout: default
---


section#content.container.w
  article#page.page
    h1= document.title
    .page-content!= content

    if document.relatedDocuments && document.relatedDocuments.length
      #posts
        h3 Posts
        nav.linklist
          each doc in document.relatedDocuments
            li
              span= doc.date.toDateString()
              |  &raquo;&nbsp;
              a(href=doc.url)= doc.title
